<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to Meetup Updates Glassware Application </h1>
            </hgroup>
            <p>
               This sample application demonstarte simple Glassware application that send notification to glass about Meetup Session ... ;-)
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>This is only for demonstration</h3>
        <p>
            You can subscribe this service registering here
        </p>
        <a href=@Url.Action("StartAuth", "Auth")>
            <img src="~/Images/glass.jpg" alt=""/></a>
    </section>
</div>
