<br/>
<h2>Welcome to Meetup Time Line Updates</h2>
<br/>

<br/>
<div >
    <form action="@Url.Action("SendMsg","Meetup")" method="POST">
        <textarea name="message">Hi all,you are welcome !</textarea>
        <button type="submit" class="ui-button-text">Send Msg</button>
    </form>
</div>
